* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: #caf0fe;
}

.navbar {
  background: #0077b6;
  width: 100%;
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar-headings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  color: #fff;
}

.navbar-headings ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Navbar LI styling */
.navbar-headings li {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
}

/* Hover effect for the list item */
.navbar-headings li:hover {
  color: #caf0fe;
  transform: translateY(-3px);
}

/* Underline effect on hover */
.navbar-headings li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  background-color: #caf0fe;
  width: 0;
  transition: width 0.3s ease;
}

.navbar-headings li:hover::after {
  width: 100%;
}

.navbar-headings li + li {
  margin-left: 30px;
}

/* Form container styling */
.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  max-width: 50vh;
  width: 50vw;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 3%;
}

.signupForm{
  margin-top: 50%;
}

form:hover {
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 2px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 6px;
}

label {
  display: block;
  margin: 8px 0;
  font-weight: bold;
  position: relative;
  left: 10px;
}

/* Input field styling */
input {
  width: 95%;
  padding: 10px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-right: 13px;
  padding-right: 2px;
}

/* Focus styling for inputs */
input:focus {
  border-color: #007bff;
  outline: none;
}

input:hover {
  border: 1px solid #007bff;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  cursor: not-allowed;
  color: #8db7e3;
}

.password-wrapper {
  position: relative;
}

.password-wrapper i {
  position: absolute;
  right: 3%;
  top: 50px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #007bff;
}

.password-wrapper i:hover {
  color: #0056b3;
}

/* Style for error messages */
.error, .status {
  color: red;
  font-size: 0.9em;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.signup-error{
  margin-top: 5%;
  justify-content: center;
  display: flex;
  font-size: large;
  margin-bottom: -20px;
}

/* style for redirect signup page  */
.signup-prompt {
  color: #444;          
  margin-top: 10%;       
  text-align: left;     
  font-size: 1.2em;
  position: relative;
  top: -50px;
  left: 10px;
}

.signup-link {
  color: #3498db;       
  font-weight: 500;       
  text-decoration: none;  
  border-bottom: 2px solid transparent; 
  transition: color 0.3s ease, border-bottom-color 0.3s ease;  
}

.signup-link:hover {
  color: #2980b9;         
  border-bottom-color: #2980b9; 
  cursor: pointer;     
}

/* logout btn  */
.logout-btn {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 7%;
  display: flex;
  align-items: center;
  background-color: #ff5252;
  border-radius: 4px;
  margin-left: 10px;
}

.logout-btn i {
  margin-left: 8px; 
  font-size: 18px;
}

.logout-btn:hover {
  background-color: #ff7979; /* Hover effect */
}
